{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}

{% include "components/_page-intro.html" with { intro: entry } %}

<section class="c-page-content">
	<div class="u-grid">
		<div class="u-grid__column--4 
								u-grid__column--4@medium 
								u-grid__column--12@small">
			<h2 class="c-page-content__section-heading">{{entry.aboutFounderTitle}}</h2>
		</div>
		<div class="u-grid__column--7 
								u-grid__column--8@medium 
								u-grid__column--12@small">
			{{entry.aboutFounderBio}}
		</div>
	</div>
</section>

{% endblock %}