{% extends "_layout" %}

{% block content %}

    <section class="c-page-intro">
        <div class="c-page-intro__content">
            <h1 class="c-page-intro__heading">{{entry.pageHeading}}</h1>
        </div>
    </section>

    <section class="c-page-content">
        <div class="u-grid">
            <div class="u-grid__column--3">
                <h2>{{entry.aboutFounderTitle}}</h2>
            </div>
            <div class="u-grid__column--7">
                {{entry.aboutFounderBio}}
            </div>
        </div>
    </section>

{% endblock %}
