{% extends "_layout" %}

{% block content %}

    <section class="c-page-intro">
        <div class="c-page-intro__content">
            <h1 class="c-page-intro__heading">{{entry.pageHeading}}</h1>
        </div>
    </section>

    <section class="c-page-content">
        <div class="u-grid">
            <div class="u-grid__column--3">
                <h2>About the studio</h2>
            </div>
            <div class="u-grid__column--7">
                <p>Bourn is a venture studio run by Kim Goulbourne. She is a Jamaican, award-winning designer, full stack developer, and chronic creator with over 8 years of experience. She’s worked with top creative agencies and product consultancies helping startups and established businesses improve their digital presence. Now under her venture studio, Bourn, she designs, builds, and launches ideas than span multiple industries. She also helps clients turn complex ideas into simple interfaces.</p>
                <p>Throughout her tenure at previous agencies such as thoughtbot, Ogilvy, Wondersauce, and R/GA, Kim worked with large companies like Verizon and Foursquare to newer startups like Master & Dynamic, and treStique.</p>
                <p>She has spoken on the TEDx stage and at other events by Girlboss, AIGA and Girls who Code. Her work has been featured in publications and podcasts such as HER, Bustle, Revision Path, and CodeNewbie. She has served as a judge for the The One Show, has been a curator for NET Magazine and a teacher at General Assembly.</p>
            </div>
        </div>
    </section>

{% endblock %}
