{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}
{% set pageCta = { link: "#contact-form", text: entry.pageCta } %}

<div class="c-landing-page c-landing-page--consulting-package">
  {% include "components/_page-intro.html" with { intro: entry, pageCta: pageCta } %}

  <section class="c-page-content">
    {% if entry.consultingServices is defined %}
      <section class="c-page-content__section" id="{% if entry.consultingServices.type('info').one().sectionId is not null %}{{entry.consultingServices.type('info').one().sectionId}}{%endif%}">
        <div class="c-services u-grid">
          {% for service in entry.consultingServices.type('service').all() %}
          <div class="u-grid__column--3 
                          u-grid__column--3@medium 
                          u-grid__column--6@small">
            {% include "components/_service.html" %}
          </div>
          {% endfor %}
        </div>
      </section>
    {% endif %}

    {% if entry.pageInfo is defined %}
      {% for info in entry.pageInfo.all() %}
        <section class="c-page-content__section" id="{% if info.sectionId is not null %}{{info.sectionId}}{%endif%}">
          <div class="u-grid">
            <div class="u-grid__column--4 
                          u-grid__column--4@medium 
                          u-grid__column--12@small">
              <h2 class="c-page-content__section-heading">{{info.heading}}</h2>
            </div>
            <div class="u-grid__column--7 
                          u-grid__column--8@medium 
                          u-grid__column--12@small">

              {% if info.description is not null %}
                {{info.description}}
              {% endif %}

              {% if info.clients is not null %}
                <div class="c-landing-page__clients">
                  {% for client in info.clients.all() %}
                  {% include "components/_client.html" %}
                  {% endfor %}
                </div>
              {% endif %}

              {% if info.clientsImages is not null %}
                <div class="c-landing-page__client-images u-grid">
                  {% for client in info.clientsImages.all() %}
                    {% include "components/_client-image.html" %}
                  {% endfor %}
                </div>
              {% endif %}

              {% if info.timelineInfo %}
                <div class="c-landing-page__timeline">
                  {% if entry.timeline is not null %}
                    {% for timeline in entry.timeline.all() %}
                      {% include "components/_timeline.html" %}
                    {% endfor %}
                  {% endif %}
                </div>
              {% endif %}

              {% if info.pricingInfo %}
                <div class="c-landing-page__pricing">
                  {% include "components/_pricing.html" %}
                </div>
              {% endif %}

              {% if info.contactInfo %}
              <div class="c-landing-page__contact-form">
                {% include "components/_contact-form.html" %}
              </div>
              {% endif %}
            </div>

          </div>
        </section>
      {% endfor %}
    {% endif %}
  </section>
</div>

{% endblock %}