{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}
{% set pageCta = { link: "#contact-form", text: entry.pageCta } %}

<div class="c-landing-page c-landing-page--consulting-package">
  {% include "components/_page-intro.html" with { intro: entry, pageCta: pageCta } %}

  <section class="c-page-content">
    {% if entry.pageInfo is defined %}
      {% for info in entry.pageInfo.all() %}
        <div class="c-page-info">
          <div class="c-page-info__content">
            <h2 class="c-page-info__content-heading">{{info.heading}}</h2>
            <div class="c-page-info__content-description">
              {{info.description}}
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </section>

  <div id="contact-form" class="c-landing-page__contact">
    <div class="c-landing-page__contact-form">

    </div>
  </div>
</div>

{% endblock %}