{% extends "_layout" %}

{% block content %}
{% set mobileOnlyPageCta = { link: "#email-capture", text: entry.pageEmailCapture.type('emailCaptureForm').one().formButtonText } %}

<div class="c-landing-page c-landing-page--email-capture">
  {% include "components/_page-intro.html" with { intro: entry, mobileOnlyPageCta: mobileOnlyPageCta } %}

  <section class="c-page-content">
    {% if entry.pageInfo is defined %}
      {% for info in entry.pageInfo.all() %}
        <div class="c-page-info">
          <div class="c-page-info__content">
            <h2 class="c-page-info__content-heading">{{info.heading}}</h2>
            <div class="c-page-info__content-description">
              {{info.description}}
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </section>

  <div id="email-capture" class="c-landing-page__email-capture">
    <div class="c-landing-page__email-capture-form">
      <form class="c-form" method="post" action="{{entry.pageEmailCapture.type('emailCaptureForm').one().formActionUrl}}" accept-charset="UTF-8">
        {{ csrfInput() }}

        {% for field in entry.pageEmailCapture.type('emailCaptureFields').all() %}
          {% if field.fieldType == "hidden" %}
          <input id="{{field.fieldName}}" type="{{field.fieldType}}" name="{{field.fieldName}}" value="{{field.fieldInitialValue}}">
          {% else %}
          <div class="c-form__field-group">
            <div class="c-form__field">
              <label for="{{field.fieldName}}">{{field.fieldLabel}}</label>
              {% if field.fieldType == "textarea" %}
              <textarea id="{{field.fieldName}}" name="{{field.fieldName}}" placeholder="{{field.fieldPlaceholder}}" value="{{field.fieldInitialValue}}"></textarea>
              {% else %}
              <input id="{{field.fieldName}}" type="{{field.fieldType}}" name="{{field.fieldName}}" placeholder="{{field.fieldPlaceholder}}" value="{{field.fieldInitialValue}}">
              {% endif %}
            </div>
          </div>
          {% endif %}
        {% endfor %}

        <div class="c-form__button-group">
          <button type="submit" class="c-form__button">{{entry.pageEmailCapture.type('emailCaptureForm').one().formButtonText}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}