{% extends "_layout" %}

{% block content %}

    <section class="c-page-intro">
        <div class="c-page-intro__content">
            <h1 class="c-page-intro__heading">{{entry.pageHeading}}</h1>
            <p class="c-page-intro__subheading">{{entry.pageSubheading}}</p>
        </div>
    </section>

    <section class="c-page-content">
        <div class="c-services u-grid">
            <div class="c-service u-grid__column--4">
                
            </div>
            <div class="c-service u-grid__column--4">
                
            </div>
            <div class="c-service u-grid__column--4">
                
            </div>
            <div class="c-service u-grid__column--4">
                
            </div>
        </div>
    </section>

{% endblock %}
