{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}

{% include "components/_page-intro.html" with { intro: entry } %}

<section class="c-page-content">
  <section class="c-page-content__section">
    <!-- <h2 class="u-hidden">Services</h2> -->
    <div class="c-services u-grid">
      {% for service in entry.consultingServices.all() %}
        <div class="u-grid__column--3 
                    u-grid__column--3@medium 
                    u-grid__column--6@small">
          {% include "components/_service.html" %}
        </div>
      {% endfor %}
    </div>
  </section>
  <section class="c-page-content__section">
    <div class="u-grid">
      <div class="u-grid__column--4 
                  u-grid__column--4@medium 
                  u-grid__column--12@small">
        <h2 class="c-page-content__section-heading">{{entry.consultingClientsHeading}}</h2>
      </div>
      <div class="u-grid__column--7 
                  u-grid__column--8@medium 
                  u-grid__column--12@small">
        {% for client in entry.consultingClientsSelect.all() %}
          {% include "components/_client.html" %}
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="c-page-content__section">
    <div class="u-grid">
      <div class="u-grid__column--4 
                  u-grid__column--4@medium 
                  u-grid__column--12@small">
        <div class="c-consulting-contact__heading">
          <h2 class="c-page-content__section-heading">{{entry.consultingContactHeading}}</h2 class="c-page-content__section-heading">
        </div>
      </div>
      <div class="u-grid__column--7 
                  u-grid__column--8@medium 
                  u-grid__column--12@small">
        <div class="c-consulting-contact__description">
          {{entry.consultingContactDescription}}
        </div>
        <div class="c-consulting-contact__form">

          <form class="c-form" method="post" action="" accept-charset="UTF-8" data-contact-form>
            {{ csrfInput() }}
            <input type="hidden" name="action" value="contact-form/send">

            <input type="hidden" name="subject" value="Consulting Inquiry">

            {% for field in entry.pageContactForm.type('formFields').all() %}
              <div class="c-form__field-group">
                <div class="c-form__field">
                  {% if field.fieldType != "hidden" %}
                  <label for="{{field.fieldName}}">{{field.fieldLabel}}</label>
                  {% endif %}

                  {% if field.fieldType == "textarea" %}
                  <textarea id="{{field.fieldName}}" name="{{field.fieldName}}" placeholder="{{field.fieldPlaceholder}}" value="{{field.fieldInitialValue}}"></textarea>
                  {% else %}
                  <input id="{{field.fieldName}}" type="{{field.fieldType}}" name="{{field.fieldName}}" placeholder="{{field.fieldPlaceholder}}" value="{{field.fieldInitialValue}}">
                  {% endif %}
                </div>
              </div>
            {% endfor %}

            <div class="c-form__button-group">
              <button type="submit" class="c-form__button">{{entry.pageContactForm.type('form').one().formButtonText}}</button>
            </div>
            <div class="c-form__response" data-contact-form-response></div>

          </form>
        </div>
      </div>
    </div>
  </section>
</section>

{% endblock %}