{% set currentNavItem = craft.entries.section('mainNavigation').slug(requestFirstSegment).one() %}

<header class="c-header" data-header>
  <div class="c-header__content">
    <a href="/" class="c-header__logo">{% include "svg/logo.svg" %}</a>
    <nav class="c-nav" data-nav>
      <ul class="c-nav__items">
        {% for entry in craft.entries.section('mainNavigation').type('mainNavigation').all() %}
        <li class="c-nav__item">
          {% if entry.navItemLinkInternal is not empty %}
          <a href="{{ entry.navItemLinkInternal.one().url }}" 
             data-slug="{{ entry.slug }}"
             class="c-nav__link c-nav__link--{{ entry.slug }} {% if requestFirstSegment == entry.slug %}is-active{% endif %} {% if '/p/' in entry.navItemLinkInternal.one().url %}c-nav__link--landing-page{% endif %}">
            {{ entry.navItemText }}
          </a>
          {% elseif entry.navItemLinkExternal is not null %}
            <a href="{{ entry.navItemLinkExternal }}"
               data-slug="{{ entry.slug }}" 
               target="_blank"
               class="c-nav__link c-nav__link--{{ entry.slug }}">
              {{ entry.navItemText }}
            </a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>

      {% if craft.entries.section('mainNavigation').type('mainNavigationCallout').count() > 0 %}
        {% set callout = craft.entries.section('mainNavigation').type('mainNavigationCallout').one() %}
        <div class="c-nav__item c-nav__item--callout">
          {% if callout.navItemLinkInternal is not empty %}
          <a href="{{ callout.navItemLinkInternal.one().url }}"
             data-slug="{{ callout.slug }}"
             class="c-nav__link {% if requestFirstSegment == callout.slug %}is-active{% endif %} {% if '/p/' in callout.navItemLinkInternal.one().url %}c-nav__link--landing-page{%else%}c-nav__link--{{ callout.slug }}{% endif %}">
            {{ callout.navItemText }}
          </a>
          {% elseif callout.navItemLinkExternal is not null %}
          <a href="{{ callout.navItemLinkExternal }}" 
             data-slug="{{ callout.slug }}"
             class="c-nav__link c-nav__link--{{ callout.slug }}""
             target="_blank">
            {{ callout.navItemText }}
          </a>
          {% endif %}
        </div>
      {% endif %}

      <ul class="c-nav__items c-nav__items--mobile">
      {% for entry in craft.entries.section('footerNavigation').type('rightNavigation').all() %}
        <li class="c-nav__item c-nav__item--mobile">
          {% if entry.footerItemUrl is not null %}
          <a href="{{entry.footerItemUrl}}">{{entry.footerItemText}}</a>
          {% else %}
          <span>{{entry.footerItemText}}</span>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </nav>
    <div class="c-hamburger" data-hamburger>
      {% if currentNavItem is not null %}
        <span class="c-hamburger__current-page u-color--{{currentNavItem.slug}}">{{currentNavItem.navItemText}}</span>
      {% elseif entry.title is defined %}
        <span class="c-hamburger__current-page">{{entry.title}}</span>
      {% endif %}
      <div class="c-hamburger__icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>