{% set request = craft.app.request.segments|first %}
{% if craft.app.request.url == "/"%}
  {% set request = entry.slug|replace('-page','') %}
{% endif %}

<header class="c-header" data-header>
  <a href="/" class="c-header__logo">{% include "svg/logo.svg" %}</a>
  <nav class="c-nav" data-nav>
    <ul class="c-nav__items">
      {% for entry in craft.entries.section('mainNavigation').all() %}
      <li class="c-nav__item">
        <a href="{{ entry.navItemLink.one().url }}" data-slug="{{ entry.slug }}"
          class="c-nav__link c-nav__link--{{ entry.slug }} {% if request == entry.slug %}is-active{% endif %}">
          {{ entry.navItemText }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <ul class="c-nav__items c-nav__items--mobile">
    {% for entry in craft.entries.section('footerNavigation').type('rightNavigation').all() %}
      <li class="c-nav__item c-nav__item--mobile">
        {% if entry.footerItemUrl is not null %}
        <a href="{{entry.footerItemUrl}}">{{entry.footerItemText}}</a>
        {% else %}
        <span>{{entry.footerItemText}}</span>
        {% endif %}
      </li>
    {% endfor %}
    </ul class="c-nav__mobile-items">
  </nav>
  <div class="c-hamburger" data-hamburger>
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>