{% if craft.request.getParam("q") is not null %}
	{% set pageHeading = intro.pageHeading|replace({'business': craft.request.getParam("q")}) %}
{% else %}
	{% set pageHeading = intro.pageHeading %}
{% endif %}

<section class="c-page-intro">
	<div class="c-page-intro__content">
		{% if intro.pageHeading is defined %}
		<h1 class="c-page-intro__heading" data-page-heading>{{pageHeading}}</h1>
		{% endif %}
		
		{% if intro.pageSubheading is defined %}
		<div class="c-page-intro__subheading">{{intro.pageSubheading}}</div>
		{% endif %}

		{% if pageCta is defined %}
		<button data-href="{{pageCta.link}}" class="c-page-intro__button" data-page-intro-cta>{{pageCta.text}}</button>
		{% endif %}

		{% if mobileOnlyPageCta is defined %}
			<button data-href="{{mobileOnlyPageCta.link}}" class="c-page-intro__button c-page-intro__button--mobile-only" data-page-intro-cta>{{mobileOnlyPageCta.text}}</button>
		{% endif %}
	</div>
</section>