<footer class="c-footer">
    <div class="c-footer__left">
        <a href="#" class="c-footer__item c-footer__item--copyright"><strong>&copy;BOURN LLC</strong></a>
        <span class="c-footer__item">Made with <span class="icon-heart u-color--{{ craft.app.request.segments|first }}">❤</span> in NYC</span class="c-footer_item">
    </div>
    <div class="c-footer__right">
        <a href="#" class="c-footer__item">Instagram</a>
        <a href="#" class="c-footer__item">Twitter</a>
        <a href="#" class="c-footer__item">hello@madebybourn.com</a>
    </div>
</footer>