{% extends "_layout" %}

{% block content %}

    <section class="c-page-intro">
        <div class="c-page-intro__content">
            <h1 class="c-page-intro__heading">{{entry.pageHeading}}</h1>
        </div>
    </section>

    <section class="c-page-content">
        <div class="c-ventures">
            {% for venture in craft.entries.section('ventures').orderBy('ventureLaunchDate desc').all() %}
                {% include "components/_venture.html" %}
            {% endfor %}
        </div>
    </section>

{% endblock %}
