{% extends "_layout" %}

{% block content %}

    <section class="c-page-intro">
        <div class="c-page-intro__content">
            <h1 class="c-page-intro__heading">{{entry.pageHeading}}</h1>
        </div>
    </section>

    <section class="c-page-content">
        <div class="c-ventures">
            <div class="c-venture u-grid">
                <div class="u-grid__column--3">
                    <h2>You & Sundry</h2>
                </div>
                <div class="u-grid__column--7">
                    <p>The first social club for the LGBTQ+ community.</p>
                    <small class="c-venture__tag c-tag">LAUNCHED 03.12.2018</small>
                </div>
            </div>
            <div class="c-venture u-grid">
                <div class="u-grid__column--3">
                    <h2>Bitter Renter</h2>
                </div>
                <div class="u-grid__column--7">
                    <p>An interactive guide for first-time renters in NYC.</p>
                    <small class="c-venture__tag c-tag">LAUNCHED 03.12.2018</small>
                </div>
            </div>
            <div class="c-venture u-grid">
                <div class="u-grid__column--3">
                    <h2>conferCal</h2>
                </div>
                <div class="u-grid__column--7">
                    <p>A conference calendar for people in tech.</p>
                    <small class="c-venture__tag c-tag">LAUNCHED 03.12.2018</small>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
